.cardImg{
    align-items: center;
    border-radius: 10px;
    width:80%;
}
#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    
}
.card{
    display: flex;
    flex-direction: column;
    width:200px;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:110px
}
#filtrs{
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    width:100px;
    border-radius: 10px;
    background-color: rgb(160, 160, 160);
    padding: 20px;
}
.filtr-div{
    justify-content: left;
}
#main-content{
    display: flex;
    gap:20px;
    padding: 20px;
}